@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
}
